/* 
- Please follow this tool to name your color, then please define the color in src/common-types/ui.ts also
  https://chir.ag/projects/name-that-color/

- If colors same name, please add suffix. Ex: persian-blue, persian-blue-dark, persian-blue-light, ...
*/

$white: #ffffff;
$white-alpha-50: rgba($white, 0.5);
$black: #000000;
$black-alpha-50: rgba($black, 0.5);
$atlantis: #8ecb3a;
$fruit-salad: #49934d;
$sushi: #78b833;
$scarlet: #f23505;
$dodger-blue: #17a9ff;
$cameo: #d6b899;
$cashmere: #e5c29f;
